---
layout: layouts/base.njk
title: Mac Harness
permalink: /
---

{% include "sections/hero.njk" %}
{% include "sections/selected-work.njk" %}
{% include "sections/featured-project.njk" %}
{% include "sections/about.njk" %}
{% include "sections/contact.njk" %}
