---
layout: layouts/base.njk
title: Mac Harness
permalink: /
---

{% include "sections/hero.njk" %}

{#
  Remaining homepage sections land here as they are ported:
  Gallery (Selected Work peek), Project (featured), About, Contact.
#}
